{% extends 'base.html.twig' %}

{% block title %}CONTACTEZ-MOI IMMO DEMANDES
{% endblock %}
{% block stylesheets %}
	<style>

		body {
			background-image: url('{{asset("assets/images/villa.jpg")}}');
			background-size:cover;
			background-attachment: fixed;

		}
		.card {
			background-image: url('{{asset("assets/images/textile.jpg")}}');
			max-width: 300px;
            max-height:auto;
			border-radius: 50px;
            color:white;
			margin-left:10%;
			margin-right:10%;
			background-attachment:scroll;
		}

		.heading {
			font-weight: 900;
            color:white;

		}

		.hour {
			margin-top: 1px;
			color: white;
			font-size: 12px
		}

		.btn {
			border-radius: 70px;
            color:white;
            border-color:white;
            margin-left:10px;
		}

		.line-color {
			color: green;
			height: 3px;
		}
        legend{
            color: wheat;
            text-shadow:1px 1px 2px black, 0 0 1em white, 0 0 0.2em white;
			
        }
		.page-link{font-size:small}
	
	</style>
{% endblock %}
{% block titre %}
	<span style="text-shadow:1px 1px 2px black, 0 0 1em black, 0 0 0.2em white;"> 
		...vous avez un bien immobilier à vendre? et qui répond à mes attentes?<br> 
		contactez-moi asap!
	</span>
{% endblock %}

{% block body %}
	<main>
    	<div class='container text-center'>
			<legend>
				Vous êtes un acheteur? Déposez votre demande en cliquant sur le bouton ci-dessous :
			</legend>
			<a type="button" class="btn btn-dark" href="{{path('demande_add')}}">Postez votre demande</a>
		</div>
		<div class="row">
			{% for demande in pagination %}
				<div class="col-md-4 col-lg-5 col-xl-4 col-sm-12 mt-5">
					<div class="card p-4">
						<div class="first">
							<h6 class="heading">{{ demande.titre }}</h6>
							<div class="time d-flex flex-row align-items-center justify-content-between mt-3">
								<div class="d-flex align-items-center">
									<span class="hour ml-1">{{ demande.dateDemande | ago }}</span>
								</div>
								<div>
									<span class="font-weight-bold">{{ demande.budget }} €</span>
								</div>
							</div>
						</div>
						<div class="second d-flex flex-row mt-2">
							<div class="image mr-3">  
								{% for acheteurs in demande.acheteur.image %}
                        		<img  src="{{ asset('assets/images/' ~ acheteurs.urlImage ) }}" class="rounded-circle" width="60" />
                          		{% endfor %}
							</div>
							<div>
								<div class="d-flex flex-row mb-1">
									<span>{{ demande.acheteur.prenom }} {{ demande.acheteur.nom }}</span>
								</div>
								<div class="ml-5">
                                	{% if is_granted("ROLE_VENDEUR") %}
									<a class="btn btn-outline-dark btn-sm" href="{{ path('demande_detail', {slug: demande.slug}) }}">>>Voir plus</a>
                                	{% else %}
									<button class="btn btn-dark btn-sm" disabled>>>Voir plus</button>
                                	{% endif %}
								</div>
							</div>
						</div>
						<hr class="line-color">
						<div class="text-left">Zone de recherche :
						<ol>
						{% for adresse in demande.adresses %} 
							<li> {{ adresse.ville }} {{ adresse.codePostal }} </li> 
						{% endfor %} 
						</ol>
						</div>
						<div class="third mt-4">
							<button class="btn btn-dark btn-block">
								Voir Profil
							</button>
						</div>
					</div>
				</div>
			{% endfor %}
            
		</div>
		{# {{ dump(knp_pagination_render(pagination))}} #}
		<div class="navigation d-flex justify-content-center my-5">
			{{ knp_pagination_render(pagination) }} 
		</div>
	</main>
{% endblock %}
