{% extends 'base.html.twig' %}

{% block title %}CONTACTEZ MOI IMMO OFFRES
{% endblock %}
{% block stylesheets %}
	<style>

		body {
			background-image: url('{{asset("assets/images/profil/exterior.jpg")}}');
			background-size: cover;
			background-attachment: fixed;
		}
		.card {
			background-color: #F4D03F;
			background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,152,155,1) 0.1%, rgba(0,94,120,1) 94.2% );
			border: 5px solid;
			max-width: 300px;
            max-height:auto;
			border-radius: 10px;
            color:white;
			margin-left:10%;
			margin-right:10%;
			background-attachment:scroll;
		}

		.heading {
			font-weight: 900;
			color: white;

		}

		.hour {
			margin-top: 1px;
			color: white;
			font-size: 12px
		}

		.btn {
			border-radius: 70px;
			color: white;
			border-color: white;
			margin-left: 10px;
		}

		.line-color {
			color: white;
			height: 3px;
		}
		legend {
			color: white;
			text-shadow: 1px 1px 2px black, 0 0 1em white, 0 0 0.2em white;
		}
		.page-link {
			font-size: small
		}
	</style>
{% endblock %}
{% block titre %}
	<span style="text-shadow:1px 1px 2px black, 0 0 1em black, 0 0 0.2em white;">...vous cherchez un bien immobilier? et qui répond à vos attentes?<br>
		vous êtes au bon endroit!</span>
{% endblock %}
{% block body %}
	<main>
		<div class='container text-center'>
			<legend>Vous êtes un vendeur? Déposez votre offre en cliquant sur le bouton ci-dessous :</legend>
			<a type="button" class="btn btn-dark" href="{{path('offre_add')}}">Postez votre offre</a>
		</div>
		<div class="row">
			{% for offre in pagination %}
				<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mt-5">
					<div class="card p-4">
						<div class="first">
							<h6 class="heading">{{ offre.titre }}</h6>
							<div class="time d-flex flex-row align-items-center justify-content-between mt-3">
								<div class="d-flex align-items-center">
									<span class="hour ml-1">{{ offre.dateOffre | ago }}</span>
								</div>
								<div>
									<span class="font-weight-bold">{{ offre.prix }}
										€</span>
								</div>
							</div>
						</div>
						<hr>
						<div class="second d-flex flex-row mt-2">

							<div class="image mr-3">

									<img src="{{ asset('assets/images/profil/' ~ offre.vendeur.images.urlImage ) }}" class="rounded-circle" width="100" style="border:2px solid white"/>


							</div>

							<div>
								<div class="d-flex flex-row mb-1">
									<span>{{ offre.vendeur.prenom }}
										{{ offre.vendeur.nom }}</span>
								</div>
								<div class="ml-5">
									{% if is_granted("ROLE_ACHETEUR") %}


										<a class="btn btn-outline-dark btn-sm" href="{{ path('offre_detail', {slug: offre.slug}) }}">>>Voir plus</a>

									{% elseif app.user %}


										<span style="font-size:small;margin-left:5px;">Tél:{{ offre.vendeur.numeroTelephone }}</span>
									{% endif %}
								</div>
							</div>
						</div>
						<hr class="line-color">
						<p class="text-left">Zone de recherche :
							<li>
								{{ offre.adresse.ville }}
								{{ offre.adresse.codePostal }}
							</li>
						</p>

					</div>
				</div>
			{% endfor %}

		</div>
		<div class="navigation d-flex justify-content-center my-5">{{ knp_pagination_render(pagination) }}
		</div>
	</main>
{% endblock %}
