{% extends 'base.html.twig' %}

{% block title %}CONTACTEZ-MOI IMMO OFFRES
{% endblock %}
{% block stylesheets %}
	<style>

		body {
			background-image: url('{{asset("assets/images/demande1.jpg")}}');
			background-size:cover;
		}
		.card {
			background-image: url('{{asset("assets/images/textile.jpg")}}');
			background-size:cover;
			width: 70%;
			height: fit-content;
			color: white;
			text-align:center;
			padding-bottom:50px;

		}

		.heading {
			font-weight: 900;
			color: white;

		}

		.hour {
			margin-top: 1px;
			color: white;
			font-size: 12px;
			text-align: left;
		}

		.btn {
			border-radius: 70px;
			color: white;
			border-color: white;
		}

		.line-color {
			color: green;
			height: 3px;
		}
		.info-name{
			text-align:center;
			width:60%;
			font-size:90%;
			font-weight:bolder;
			color:gray;
			margin-left:1%;
			font-family:comic;
		}
		.info{
			margin-left:20%;
			color:white;
			 text-shadow:1px 1px 2px black, 0 0 1em gray, 0 0 0.2em white;
		}
	</style>
{% endblock %}
{% block titre %}
	<div class="info">et voici les détails...<br></div>
	<div class="info">Let's read it! </div>
{% endblock %}
{% block body %}
	<main>

		<div class="d-flex">
			<div class="col-2">
				{% for vendeur in offres.vendeur.image %}
					<img src="{{ asset('assets/images/' ~ vendeur.urlImage ) }}" class="rounded-circle" width="60%"/>
				{% endfor %}
				<div class="info-name">{{ offres.vendeur.prenom }} {{ offres.vendeur.nom }}</div>
			</div>
			<div class="card col-2 mt-5">
			<span class="hour ml-1"> diffusé{{ offres.dateOffre | ago }}</span>
				Prix :
				<div>
					<legend>{{ offres.prix}}€</legend>
					<div>
						Type de Bien :
						<div><legend>{{ offres.typeBien }}</legend><div>
								Nombre de Pièce :
								<div><legend>{{ offres.nbrePieces }}</legend><div>
										Zone de recherche :
										<div>
											<legend>{{ offres.adresse.ville }}</legend>
												
										
										</div>
										
										{% for image in offres.image %}
										<div>	<img src="{{ asset('assets/images/offres/' ~ image.urlImage ) }}"  width="40%"/> </div>
											{% endfor %}
											<hr>
											<legend>Description :</legend>
											{{ offres.description}}
											</div>
											</div>
											
										</main>
									{% endblock %}
