<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand col-4 text-center" href="{{ path('home') }}">CONTACTEZ-MOI IMMO</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse col-8" id="navbarColor02">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link" href="{{ path('admin') }}">Tableau de bord
						<span class="visually-hidden">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('admin_gestion_utilisateurs')}}">Gestion des utilisateurs</a>
				</li>
					<li class="nav-item">
						<div class="dropdown">
                            <a class="nav-link btn btn-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                Paramétrage
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuLink" style="width:100%;margin-left:-5px">
                                <li><a class="dropdown-item" href="{{path('admin_type_de_biens')}}" >Type de biens</a></li>
                                <li><a class="dropdown-item" href="#">Villes</a></li>
                            </ul>
                        </div>
					</li>
					<a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                    </i>
			</ul>
		</div>
	</div>
</nav>

