{% extends 'acheteurBO/base.html.twig' %}

{% block title %}CONTACTEZ MOI IMMO MES DEMANDES
{% endblock %}
{% block titre %}MON ESPACE ACHETEUR
{% endblock %}

{% block body %}
	<main>
		<div class="container">
			<h4 class="text-secondary">METTRE A JOUR MES DEMANDES</h4>
			<hr>
			<table class="table table-light table-hover text-dark">
				<thead>
					<tr>
						<th scope="col">
							<h5 class="text-center">Référence</h5>
						</th>
						<th scope="col">
							<h5 class="text-center">Titre</h5>
						</th>
					</tr>
				</thead>
				<tbody>
					{# {{ dump(demandes)}} #}
					{% for demande in app.user.demande %}

						<tr>
							<td class="text-center">#Ref000{{ demande.id }}</td>

							<td class="text-center">{{ demande.titre }}</td>
						</tr>
						<tr>
							<td colspan="2" class="text-center">
								<a class="btn btn-sm btn-outline-success" href="{{ path('acheteur_demandes_maj',{id:demande.id})}}">Editer</a>
								{% if demande.actif == 1 %}
									<a class="btn btn-sm btn-outline-dark" href="{{ path('acheteur_demandes_activation',{id:demande.id})}}">Archiver</a>
								{% else %}
									<a class="btn btn-sm btn-dark" href="{{ path('acheteur_demandes_activation',{id:demande.id})}}">Publier</a>
								{% endif %}
								<a class="btn btn-outline-danger btn-sm modal-trigger" data-bs-toggle="modal" data-bs-target="#modalDelete" data-id="{{ demande.id }}" data-reference="{{ demande.id }}">Supprimer</a>
							</td>
						</tr>

					{% endfor %}

				</tbody>
			</table>
		</div>
	</main>
	<!-- Modal -->
	<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Supprimer une demande</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					...
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
					<a href="" class="btn btn-primary">Supprimer</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script>
		window.onload = () => {
let btdeletes = document.querySelectorAll(".modal-trigger")
for (let btdelete of btdeletes) {
btdelete.addEventListener("click", function () {
document.querySelector(".modal-footer a").href = `/acheteurdemandes/delete/${
this.dataset.id
}`
document.querySelector(".modal-body").innerText = `Êtes-vous sûr de vouloir supprimer la demande #REF000${
this.dataset.reference
} ?`
})
}
}
	</script>
{% endblock %}
