{% extends 'vendeurBO/base.html.twig' %}

{% block title %}CONTACTEZ MOI IMMO MES OFFRES{% endblock %}
{% block titre %}MON ESPACE VENDEUR{% endblock %}

{% block body %}
    <main>
        <div class = "container">
            <div class="h4">
            METTRE A JOUR MES OFFRES
            </div>
            <hr>
            <table class="table table-warning table-hover text-warning">
                <thead>
                    <tr>
                        <th scope="col">
                            <h5 class="text-dark">Référence</h5>
                        </th>
                        <th scope="col">
                            <h5 class="text-dark">Titre</h5>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for offre in app.user.offre %}
                    <tr>
                        <td>
                            <h6 class="text-dark">#Ref000{{ offre.id }}</h6>
                        </td>
      
                        <td>
                            <h6 class="text-dark">{{ offre.titre }}</h6>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="9" class="text-left text-center">
                            <a class="btn btn-sm btn-outline-success"href="{{ path('vendeur_offres_maj',{id:offre.id})}}">Editer</a>
                            {% if offre.actif == 1 %}
                            <a class="btn btn-sm btn-outline-dark"href="{{ path('vendeur_offres_activation',{id:offre.id})}}">Archiver</a>
                            {% else %}
                            <a class="btn btn-sm btn-dark"href="{{ path('vendeur_offres_activation',{id:offre.id})}}">Publier</a>
                            {% endif %}
                            <a class="btn btn-outline-danger btn-sm modal-trigger" data-bs-toggle="modal" data-bs-target="#modalDelete" data-id="{{ offre.id }}" data-reference="{{ offre.id }}">Supprimer</a>
                        </td>
                    </tr>

                    {% endfor %}

                </tbody>
            </table>
        </div>
    </main>

<!-- Modal -->
    <div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Supprimer une offre</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <a href="" class="btn btn-primary">Supprimer</a>
            </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        window.onload = () => {
            let btdeletes = document.querySelectorAll(".modal-trigger")
            for(let btdelete of btdeletes) {
                btdelete.addEventListener("click", function(){
                    document.querySelector(".modal-footer a").href=`/vendeur/offres/suppression/${this.dataset.id}`
                    document.querySelector(".modal-body").innerText = `Êtes-vous sûr de vouloir supprimer la demande #REF000${this.dataset.reference} ?`
                })
            }
        }
    </script>
{% endblock %}