{% extends 'vendeurBO/base.html.twig' %}

{% block title %} CONTACTEZ-MOI IMMO OFFRES {% endblock %}
{% block titre %}MON ESPACE VENDEUR{% endblock %}
{% block body %}
	<main>
    <div class="container">
    <div class="h4">POSTER UNE OFFRE</div>
					<hr>
		<div class="container">
    <div class="row">
        {{ form_start(form) }}
        <table>
            <tbody>
            <tr>
                <th>Titre:</th>
                <td>{{ form_widget(form.titre) }}</td>
            </tr>
            <tr>
                <th>Superficie:</th>
                <td>{{ form_widget(form.superficie) }}</td>
            </tr>
            <tr>
                <th>Nombre de Pièces:</th>
                <td>{{ form_widget(form.nbre_pieces) }}</td>
            </tr>
			<tr>
                <th>Nombre d'Appartements:</th>
                <td>{{ form_widget(form.nbre_appartements) }}</td>
            </tr>
			<tr>
                <th>Nombre de Studios:</th>
                <td>{{ form_widget(form.nbre_studios) }}</td>
            </tr>
            <tr>
                <th>Places de Parking:</th>
                <td>{{ form_widget(form.places_parking) }}</td>
            </tr>
            <tr>
                <th>Cave:</th>
                <td>{{ form_widget(form.cave) }}</td>
            </tr>
            <tr>
                <th>Prix:</th>
                <td>{{ form_widget(form.prix) }}</td>
            </tr>
            <tr>
                <th>Description:</th>
                <td>{{ form_widget(form.description) }}</td>
            </tr>
            <tr>
                <th>Type du bien:</th>
                <td>{{ form_widget(form.typebien) }}</td>
            </tr>
            <tr>
                <th>Ville:</th>
                <td>{{ form_widget(form.adresse) }}</td>
            </tr>
			<tr>
                <th>Vos images en pièces-jointes:</th>
                <td>{{ form_widget(form.image) }}</td>
            </tr>
            
            </tr>
            </tbody>
        </table>
        <div class="text-center my-3">{{ form_widget(form.Valider) }}<div>
		
        {{ form_end(form) }}
    </div>
    </div>
	</main>
{% endblock %}

