<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand col-4 text-center" href="#">CONTACTEZ-MOI IMMO</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse col-8" id="navbarColor02">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link" href="{{ path('home') }}">Accueil
						<span class="visually-hidden">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('demandes')}}">Demandes</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('offres')}}">Offres</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Contact</a>
				</li>
				{% if not app.user %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_register') }}">Enregistrement</a>
					</li>
                    
				{% elseif is_granted("ROLE_ACHETEUR") %}
                 
					<li class="nav-item">
						<a class="nav-link" href="{{ path('acheteur') }}">Mon Espace Acheteur</a>
					</li>
					<a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                    </i>
                    {% else %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('home') }}">Mon Espace Vendeur</a>
					</li>
					<a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                    </i>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
